* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: cursive;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: cursive;
}

header {
    width: 100%;
    min-height: 110vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/website-pictures/saffron-rice-with-pork-chicken-and-vegetables-on-plate-generated-by-ai-free-photo.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 69%;
    /* padding: 10px 0px; */
}

header a img {
    height: 50px;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 100;
    backdrop-filter: blur(50px);
}

nav a img {
    height: 50px;
}

nav ul {
    text-align: right;
    flex: 1;
}

nav ul li {
    display: inline-block;
    padding: 11px 10px;
}

nav ul li a {
    color: #F2F2F2;
    /* color: #fea116; */
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

nav ul li a:hover {
    color: #fea116;
    cursor: pointer;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: #fea116;
    transition: .5s;
    display: block;
}

nav ul li a:hover::after {
    width: 100%;
}

#check-btn {
    font-size: 2.5rem;
    color: white;
    text-align: right;
    flex: 1;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.intro {
    display: flex;
    justify-content: space-between;
    margin: 10% 5%;
}

.intro-left-side img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 5px;
}

.intro-left-side .intro-img1 {
    width: 200px;
    height: 200px;
}

.intro-left-side .intro-img2 {
    width: 170px;
    height: 170px;
}

.intro-right-side {
    margin-top: 8%;
}

.intro-right-side h3 {
    color: #fea116;
    font-size: 30px;
    font-weight: bold;
    font-family: cursive;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    opacity: 0;
}

.intro-right-side h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.intro-right-side h3 span {
    content: "";
    width: 8%;
    height: 2px;
    padding: 4px;
    margin-left: 4px;
    display: inline-block;
    background-color: #fea116;
}

.intro-right-side p {
    max-width: 700px;
    padding-bottom: 40px;
    line-height: 1.5;
    font-size: 19px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.team-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.card {
    padding: 40px 20px;
    margin: 10px;
    text-align: center;
    border-radius: 3px;
    background-color: transparent;
    transition: background 0.5s, transform 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgb(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card img{
    height: 160px;
    width: 160px;
    border: 3px solid #ffb701;
    border-radius: 50%;
}

.card h3 {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 3px;
    color: #111111;
    font-family: cursive;
}

.card h4{
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 30px;
    color: #111111;
    font-family: cursive;
}

.card p {
    /* line-height: 1.8; */
    max-width: 250px;
    font-size: 16px;
    font-weight: bold;
}

.card p i{
    color: #cb2312;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #cb2312;
}

.card p i:hover {
    background-color: #7c7da1;
    border: 2px solid #7c7da1;
    color: #f2f2f2;
    transition: .5s ease-in-out;
}

.h2-team {
    text-align: center;
    color: #fea116;
    font-size: 50px;
    font-weight: bolder;
    padding: 50px 0;
    padding-top: 7%;
    font-family: cursive;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.footer {
    display: flex;
    padding-top: 5%;
    background-color: #d2a27a
}

.d1 {
    padding: 80px 30px;
    margin-left: 40px;
    text-align: left;
}

.d1 h1 {
    color: white;
    font-size: 30px;
    padding-bottom: 6px;
    cursor: pointer;
}

.d1 h1:hover {
    color: #cb2312;
}

.d1 h1 i {
    color: #fea116;
    padding-right: 10px;
}

.d1 p {
    font-weight: 100;
    padding-top: 15px;
    color: #7c7da1;
    font-size: 16px;
    line-height: 1.8;
}

.icon i {
    color: white;
    border-radius: 80px;
    font-size: 16px;
    padding: 10px;
    margin-top: 30px;
    margin-right: 7px;
    border: 1px solid #7c7da1;
    cursor: pointer;
}

.icon i:hover {
    background-color: #7c7da1;
    transition: .5s ease-in-out;
}

.d1 a {
    display: flex;
    font-weight: 100;
    padding-top: 15px;
    line-height: 1.8;
    font-size: 16px;
    color: #7c7da1;
}

.d1 a:hover {
    color: white;
    transition: 0.5s;
}

.imgh1 {
    margin-bottom: 20px;
}

.d1 .img {
    width: 70.83px;
    height: 65.16px;
    border-radius: 10px;
    margin-bottom: 12px;
    margin-right: 6px;
    cursor: pointer;
    opacity: 0.6;
}

.d1 .img:hover {
    opacity: 1;
}

.copyright {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    background-color: #cb2312;
}

.copyright h1 {
    color: white;
    font-size: 19px;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-arrow {
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}

.top-arrow i {
    color: #111111;
    background: #ffb701;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

@media (max-width: 1024px){
    .footer {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1313px) {
    .intro {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro-left-side .intro-img1 {
        width: 178.5px;
        height: 178.5px;
    }

    .intro-left-side .intro-img2 {
        width: 133.88px;
        height: 133.88px;
    }

    .intro-right-side p {
        font-size: 27px;
    }
}

@media (max-width: 858px) {
    #check-btn {
        display: block;
        color: #fff;
    }

    ul {
        position: fixed;
        width: 50%;
        height: 65vh;
        background: transparent;
        backdrop-filter: blur(50px);
        background: rgba(0, 0, 0, .1);
        opacity: 2;
        top: 90px;
        left: -100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        margin-top: 10px;
    }

    ul li {
        display: block;
    }

    ul li a {
        color: white;
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
        width: 100%;
        /* background: #CB2312; */
        background: rgba(72, 53, 53, 0.992);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    }

    .footer {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro-left-side .intro-img1 {
        width: 178.5px;
        height: 178.5px;
    }

    .intro-left-side .intro-img2 {
        width: 133.88px;
        height: 133.88px;
    }
}

@media (max-width: 400px) {
    .intro-left-side .intro-img1 {
        width: 120px;
        height: 120px;
    }

    .intro-left-side .intro-img2 {
        width: 133.88px;
        height: 133.88px;
    }

    .intro-right-side p {
        font-size: 17px;
    }
}

@media (max-width: 360px) {
    .intro {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intro-left-side .intro-img1 {
        width: 120px;
        height: 120px;
    }

    .intro-left-side .intro-img2 {
        width: 133.88px;
        height: 133.88px;
    }

    .intro-right-side p {
        font-size: 15px;
    }
}

@media (max-width: 291px) {
    .intro-left-side .intro-img1 {
        width: 90px;
        height: 90px;
    }

    .intro-left-side .intro-img2 {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 280px) {
    .intro-left-side .intro-img1 {
        width: 90px;
        height: 90px;
    }

    .intro-left-side .intro-img2 {
        width: 120px;
        height: 120px;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}